@import "src/mixin";
.search{
  border-bottom:1px solid rgba(0, 0, 0, 0.08);
  height: 41px;
  padding-bottom: 7px;

  @include flexDisplay(row,start,flex-end,nowrap);
  &__icon{
    @include  imageSize(16px,16px);
    margin-right: 17px;
  }
  &__string{
    border:none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @media only screen and (max-width: 900px) {
      width:100%;
    }
    &--active{
      outline:none;
    }
  }
}
