@import "src/mixin";
.title{
  @include flexDisplay(row,start,center,nowrap);
  margin-bottom: 32px;
  &__icon{
    @include imageSize(28px,30px);
    margin-right: 18.67px;
  }
  &__title{
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }
}
