@import "src/mixin";
.add {
  width: 161px;
  height: 40px;
  @include flexDisplay(row,center,center,nowrap);
  color: #1071FF;
  font-weight: 600;
  border: none;
  background: none;
  box-sizing: border-box;
  border-radius: 24px;
  @media only screen and (max-width: 900px) {
    @media only screen and (max-width: 900px) {
      height: 24px;
      width: 24px;
    }
    @include flexDisplay(row,flex-end,center,nowrap);
  }
  &__icon {
    font-size: 25px;
    font-weight: 500;
  }
  &__label{
    margin-left: 11.75px;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  &--disabled{
    color: rgba(0, 0, 0, 0.54);
    border: none;
    background: none;
    box-sizing: border-box;
    border-radius: 24px;
    @include flexDisplay(row,center,center,nowrap);
  }
  &--pressed{
    background: #dae9ff;
    color:#1071FF;
    border: none;
    box-sizing: border-box;
    border-radius: 24px;
    @include flexDisplay(row,center,center,nowrap);
  }
}
.add:hover{
  background: #f6faff;
}
.add:focus{
  background: #e3efff;
}

