@import "src/mixin";
.menu {
  height: 40px;
  width: 40px;
  @include flexDisplay(column,center,center,nowrap);
  @media only screen and (max-width: 900px) {
    height: 24px;
    width: 24px;
  }
  &__icon {
    @include imageSize( 18px,12px);

  }
}
