<app-header></app-header>
<div class="body">
  <app-nav></app-nav>
  <app-title></app-title>
  <app-tab></app-tab>
  <hr>
  <div class="filters">
    <div class="filter-inputs">
      <div class="filter-wrapper">
        <app-search-field></app-search-field>
      </div>
      <div class="filter-wrapper" *ngFor="let iterFilter of filtersApp">
        <app-filter-field style="width: 100%"

          [filter]="iterFilter"
        ></app-filter-field>
      </div>
    </div>
  </div>
  <div class="menu" *ngFor="let iterSession of sessionApp">
    <app-session-row style="position: relative"
      [session]="iterSession"
    ></app-session-row>
  </div>
</div>
