<div class="header">
  <app-button [button]="buttonMenu"></app-button>
  <div class="header--title">Обучение</div>
  <app-button [button]="buttonAdd" (click)="isModal=true"></app-button>

</div>
<div class="wrapper" >
  <app-nav></app-nav>
  <app-title></app-title>
  <div class="body">
    <app-tab  [tabs]="tabsPlaning" style="paddingLeft: 8px; paddingLight:8px"></app-tab>
 <hr class="hr">
    <div class="filters">
      <div class="filter__inputs">
        <div class="filter-wrapper">
          <app-search-field (click)="clickSearch()"></app-search-field>
        </div>
        <div class="mobile-filter" (click)="clickFilter()"></div>
        <div class="filter-wrapper--mobile" >
          <app-filter-field [filter]='getFilter()'></app-filter-field>
        </div>
        <div class="filter-wrapperFilter" *ngFor="let iterFilter of getFilters()"  >
          <app-filter-field style="width: 100%"
                            [filter]="iterFilter"
          ></app-filter-field>
        </div>
      </div>
      <div class="filter__footer">
        <div>{{getCountOfSession()}} сессий</div>
        <app-button [button]="buttonSettings" class="filter-options" ></app-button>
        <app-button [button]="buttonReset" ></app-button>
      </div>
    </div>
    <div class="menu " ><app-session-row [isHeader]="true" ></app-session-row></div>
    <div class="menu" *ngFor="let iterSession of sessionApp">
      <app-session-row style="position: relative"
                       [session]="iterSession"
                       [isHeader]="false"
                       (sorting)="sortingByProgress($event)"
      ></app-session-row>
    </div>
  </div>
</div>
<app-modal *ngIf="isModal" [filter]="getFilter('program')" [eventList]="eventList"  (modalChanged)="closeModal($event)" [filtersModal]="filtersModal"></app-modal>

