@import "src/mixin";

.row {
  @include flexDisplay(row, flex-start, center, nowrap);
  width: 100%;
  height: 36px;
  &__date {
    min-width: 86px;
    margin-right: 24px;
    @media only screen and (max-width: 900px) {

      margin-right: 16px;
    }
  }
  &__name{
    width: 546px;
    margin-right: 30px;
    @media only screen and (max-width: 900px) {
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 118px;
      margin-right: 16px;
    }
  }
  &__members{
    width: 104px;
    margin-right: 32px;
    @media only screen and (max-width: 900px) {
      min-width: 26px;
      margin-right: 8px;
    }
  }
  &__trainer{
    width: 100px;
    margin-right: 32px;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  &__progress{
    min-width: 54px;
    margin-right: 73px;
    color: rgba(0, 0, 0, 0.54);
    padding-left:21px;
    background: url("../../assets/progress.png") no-repeat left  bottom 50%;
    @media only screen and (max-width: 900px) {
      min-width: 37px;
      margin-right: 0;
    }
  }
  &__progress-header {
    min-width: 180px;
    @media only screen and (max-width: 900px) {
      min-width: 58px;
      margin-right: 0;
      img{
        display: none;
      }
    }

    &--click {
      color: rgba(0, 0, 0, 0.87);
    }

    img {
      @include imageSize(8px, 5px)
    }
  }
  &__edit{
    visibility: hidden;
    position: relative;
    border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    background: url("../../assets/edit.png") no-repeat right 50% bottom 50%;
    background-color: rgba(0, 0, 0, 0.16);
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  @media only screen and (max-width: 900px) {
    height: 52px;
  }
  @media only screen and (max-width: 350px) {
    height: 70px;
  }
}
.row:hover[data-type=false] .row__edit{
  visibility: visible;
  position: relative;
  @media only screen and (max-width: 900px) {
    display:none
  }
}
.row[data-type=true]{
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.editor{
  background-color:white;
  display: flex;
  position: absolute;
  z-index: 6;
  bottom: 36px;
  left: -128px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  @include flexDisplay(column,center,center,nowrap);
  width: 162px;
  height: 88px;
  &__update{
    padding: 18px 16px 18px 50px;
    background: url("../../assets/pancil.png") no-repeat left 15% top 45%;
  }
  &__delete{
    padding: 0 16px 18px 50px;
    background: url("../../assets/trash.png") no-repeat left 12% top 5%;
  }
}
