@import "src/mixin";
.selection {
  position: relative;
  height: 48px;
  width: 200px;
  @include flexDisplay(column, center, start, nowrap);

  &__label {
    @include labelFont();
    margin-bottom: 4px;
  }

  &__label--open {
    color: #1071FF;
  }

  &__select {
    display: flex;
    @include font();
    background: url("../../assets/arrow-down.png") no-repeat right;
    width: 100%;
    padding-bottom: 7px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-align: start;

    &--open {
      background: none;
      background: url("../../assets/arrow-up.png") no-repeat right;
      border-bottom: 1px solid #1071FF;
    }
  }
}
.selection-options{
  position: fixed;
  z-index: 1;
  margin-top:8px;
  @include flexDisplay(column,start,start,nowrap);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 18px 16px;
  width: 200px;
  background-color: white;
  @media only screen and (max-width: 900px) {
    width: 90%;
  }
  &__option{
    margin-bottom: 20px;
    width: 100%;
    span{
      display: block;
      width: 185px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &--selected{
      color: #1071FF;
      background: url("../../assets/check.png") no-repeat right ;
    }
  }
  &__option:last-child{
    margin-bottom: 0;
  }

}
.icon{
  visibility: visible;
  margin-right: 16px;
  &--hide{
    visibility: hidden;
  }
}
